.idea
**/src/main/java/org/touchbit/testrail4j/**/model
.mtj.tmp/
target
*.iml
*.class
*.log
*.ctxt
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
temp.*
_site
dependency-updates.txt
buggy.properties
temp.*
tmp.*
