<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2018 Shaburov Oleg
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<Configuration>
    <properties>
        <property name="jlab.pattern">%d{HH:mm:ss.SSS} [%-5p] [%25.25C] - %m%n</property>
        <property name="colors">{FATAL=red blink, ERROR=red, WARN=Magenta, INFO=black, DEBUG=green, TRACE=blue}</property>
        <property name="rb">red bright</property>
        <property name="bex">{FATAL=${rb}, ERROR=${rb}, WARN=${rb}, INFO=${rb}, DEBUG=${rb}, TRACE=${rb}}</property>
    </properties>
    <Appenders>
        <Console name="SlowConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%-5p] %msg%n}${colors}%highlight{%ex}${bex}"/>
        </Console>
        <File name="default" fileName="target/logs/default.log">
            <PatternLayout pattern="${jlab.pattern}"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name= "Console" level="ALL" additivity="false">
            <AppenderRef ref="SlowConsole" level="TRACE"/>
        </Logger>
        <Logger name="org.touchbit.gitlab.api" level="ALL" additivity="false">
            <AppenderRef ref="default" level="TRACE"/>
        </Logger>
    </Loggers>
</Configuration>
